body {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

/* хром, сафари */
body::-webkit-scrollbar {
    width: 0;
}

.fp-watermark {
    display: none;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}